{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}


{% block main %}
    <div>
        <h1>Welcome to Spoti50</h1>
    </div>
    <div>
        <h2>This is my Final Project for Harvards CS50 course</h2>
    </div>
    <div style="padding: 2em;"></div>
    <div style="text-align: left;">
        <h4>
            On this Website you can scower the vast Spotify database and find Songs, artists and albums based on a search
            or you can find recommendations based on up to 5 related items 
        </h4>
        <h4>
            (songs, genres, artists)
        </h4>
    </div>
    <div style="font-size: large; padding-top: 1em; text-align: left;">
        Using the navigation bar at the top you can search spotifiy for specific items or find recommendations
        based on your input
    </div>
{% endblock %}